<div class="flex-row-center">
  <div class="filter padding-medium">
    <form [formGroup]="projectForm" *ngIf="projectForm">
      <div class="grid">
        <div class="flex-row-start">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Filter by name" formControlName="name">
        </div>
        <div class="flex-row-start">
          <label for="budget">Budget</label>
          <input type="number" name="budget" placeholder="From" formControlName="budgetFrom">
          <input type="number" name="budget" placeholder="To" formControlName="budgetTo">
        </div>
        <div class="flex-row-start">
          <label for="employee">Employees</label>
          <select formControlName="employee" [compareWith]="compareEmployee">
            <!-- <option value="" selected [style]="'color: grey;'">Select Employee</option> -->
            <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName + " " +
              employee.lastName}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <button (click)="clearFilter()">Clear Filter</button>
  </div>
  <div class="list padding-medium">
    <table>
      <tr class="header">
        <th>ID</th>
        <th>Name</th>
        <th>Budget</th>
      </tr>
      <tr class="data" *ngFor="let project of filteredProjects">
        <td>{{project.id}}</td>
        <td>{{project.name}}</td>
        <td>{{project.budget | currency}}</td>
        <td>
          <button class="update" (click)="update(project)">Update</button>
          <button class="view" (click)="view(project)">View</button>
          <button class="delete" (click)="remove(project)">Remove</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<p><span>{{showProject?.name}}</span>
  <span>{{showProject?.engagedEmployees | engagedEmployees: rolesToDisplay | json}}</span><br>
  <span *ngIf="showProject">Num of developers: {{showProject.engagedEmployees | countDevelopers }}</span><br>
  <span *ngIf="showProject">Num of employees: {{showProject.engagedEmployees | countAnalysts }}</span>
</p>

<div class="modal-overlay" [ngClass]="{ 'show': showModal }">
  <div class="modal">
    <div class="modal-header">
      <h2>Modal Title</h2>
      <span class="close-button" (click)="closeModal()">X</span>
    </div>
    <div class="modal-content">
      <!-- Your modal content goes here -->
      <p>This is your modal content.</p>
    </div>
  </div>
</div>