<div class="flex-row-center">
  <div class="filter padding-medium">
    <form [formGroup]="projectForm" *ngIf="projectForm">
      <div>
        <div class="flex-row-start">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Filter by name" formControlName="name">
        </div>
        <div class="flex-row-start">
          <label for="budget">Budget</label>
          <input type="number" name="budget" placeholder="From" formControlName="budgetFrom">
          <input type="number" name="budget" placeholder="To" formControlName="budgetTo">
        </div>
        <div class="flex-row-start">
          <label for="employee">Employees</label>
          <select formControlName="employee" [compareWith]="compareEmployee">
            <!-- <option value="" selected [style]="'color: grey;'">Select Employee</option> -->
            <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName + " " +
              employee.lastName}}
            </option>
          </select>
        </div>
      </div>
    </form>
    <button (click)="clearFilter()">Clear Filter</button>
  </div>
  <div class="list padding-medium">
    <table>
      <tr class="header">
        <th>ID</th>
        <th>Name</th>
        <th>Budget</th>
      </tr>
      <tr class="data" *ngFor="let project of filteredProjects">
        <td>{{project.id}}</td>
        <td updateProject [projectId]="project.id">{{project.name}}</td>
        <td>{{project.budget | currency}}</td>
        <td>
          <button class="update" (click)="update(project)">Update</button>
          <button class="view" (click)="view(project)">View</button>
          <button class="delete" (click)="remove(project)">Remove</button>
        </td>
      </tr>
    </table>
    <pagination [totalItems]="totalItems" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
      (pageChange)="onPageChange($event)">
    </pagination>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showModal">
  <dialog [open]="showModal" [ngClass]="{'show': showModal}" class="modal">
    <div>
      <div class="modal-header">
        <h2>{{showProject?.name}}</h2>
        <span class="close-button" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-content">
        <div>
          <span>Engaged employees</span>
          <ul>
            <li *ngFor="let projDesc of showProject?.engagedEmployees | engagedEmployees: rolesToDisplay">
              {{projDesc.employee.firstName + " " + projDesc.employee.lastName + " | " + projDesc.role}}</li>
          </ul>
        </div>
        <div>
          <p>Number of developers: {{showProject?.engagedEmployees | countDevelopers }}</p>
        </div>
        <div>
          <p>Number of employees: {{showProject?.engagedEmployees | countAnalysts }}</p>
        </div>
      </div>
    </div>
  </dialog>
</div>