<div>
  <form class="flex-column-center" [formGroup]="projectForm" *ngIf="projectForm" (ngSubmit)="onSubmit()">
    <div class="project-info">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div>
        <label for="budget">Budget:</label>
        <input type="number" id="budget" formControlName="budget">
      </div>
      <div>
        <label for=" startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate">
      </div>

      <div class="errors">
        <span *ngIf="formCheck('name', 'required')">Name is required.</span>
        <span *ngIf="formCheck('name', 'minlength')">Name should have minimum 3 characters.</span>
        <span *ngIf="formCheck('name', 'maxlength')">Name should have maximum 30 characters.</span>
      </div>
      <div class="errors">
        <span *ngIf="formCheck('budget', 'required')">Budget is required.</span>
        <span *ngIf="formCheck('budget', 'min')">Budget should minimum be 1.</span>
      </div>
    </div>
    <div class="card-layout" formArrayName="engagedEmployees">
      <div class="card" *ngFor="let projectDescription of engagedEmployees.controls; let i = index" [formGroupName]="i">
        <select formControlName="employee" [compareWith]="compareEmployee" (ngModelChange)="filterRoles($event)">
          <option value="" selected [style]="'color: grey;'">Select Employee</option>
          <option *ngFor="let employee of filteredEmployees" [ngValue]="employee">{{employee.firstName + " " +
            employee.lastName}}
          </option>
        </select>
        <select formControlName="role" (ngModelChange)="filterEmployees($event)">
          <option value="" selected [style]="'color: grey;'">Select Role</option>
          <option *ngFor="let role of filteredRoles" [ngValue]="role">{{ role }}
          </option>
        </select>
        <div>
          <label for="startDate">Start date:</label>
          <input type="date" id="startDate" formControlName="startDate">
        </div>
        <div>
          <label for="engagementDuration">Engagement duration:</label>
          <input type="number" id="engagementDuration" formControlName="engagementDuration">
        </div>
        <div>
          <button class="update" type="button" (click)="addEngagedEmployee()">Add employee info</button>
          <button class="delete" type="button" (click)="removeEngagedEmployee(i)"
            [disabled]="engagedEmployees.length === 1">Remove
            employee
            info</button>
        </div>
      </div>
    </div>
    <div>
      <button class="submit" type="submit">Submit</button>
      <!-- <button class="submit" type="submit" [disabled]="!projectForm.valid && projectForm.touched">Submit</button> -->
    </div>
  </form>
</div>