.container {
  display: grid;
  grid-template-columns: 5% 95%;
}

img {
  height: 3em;
  width: 3em;
}

img:hover {
  cursor: pointer;
}

button {
  display: inline-block;
  text-align: center;
  background-color: white;
  padding: 0.5em;
  margin: 0.3em;
  width: 10em;
  border-radius: 5px;
}

button:hover {
  background-color: #002f53;
  color: white;
}
