<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="col">
      <img src="assets/eng-logo.svg" (click)="homepage()" alt="">
    </div>
    <div class="col">
      <button (click)="goToEmployees()">Employees</button>
      <button (click)="goToProjects()">Projects</button>
    </div>
  </div>
</body>

</html>
<router-outlet></router-outlet>