.container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: flex-start;
  align-items: center;
}

img {
  height: 3em;
  width: 3em;
  margin: 0.3em;

  :hover {
    cursor: pointer;
  }
}

button {
  text-align: center;
  width: 8em;
}
